#container1{
    display: flex; 
    align-items: center; 
    gap: 10px; 
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


#img1{
    width: 50%; 
    height: calc(450px + 420px + 40px);
    object-fit: cover;
}

 
.details1{
    height:450px;
    width:300px;
    border: 0.2px solid rgba(0, 0, 0, 0.1); 
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 10px;
}

.details1 img{
    height:80px;
    width:80px;
    display: inline-block;
    padding-top: 5px;
}

.details2{
    height:450px;
    width:300px;
    border: 0.2px solid rgba(0, 0, 0, 0.1); 
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
   
}

.details2 img{
        height:80px;
        width:80px;
        display: inline-block;
        padding-top: 5px;
}
.info1{
    position: absolute; 
    display: flex;
    flex-direction: row; 
    width: 45%;             
    gap: 20px; 
    left: 0;     
    padding-top: 40px; 
    padding-left: 60px;
    margin-bottom: 450px;
}

h4{
    text-align: center; 
}

#Services{
    text-align: center;
    padding-top: 20px;
}



 .details3{
    height:420px;
    width:300px;
    border: 0.2px solid rgba(0, 0, 0, 0.1); 
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 10px;
}

.details3 img{
    height:80px;
    width:80px;
    display: inline-block;
    padding-top: 5px;
}

.details4{
    height:480px;
    width:300px;
    border: 0.2px solid rgba(0, 0, 0, 0.1); 
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.details4 img{
    height:80px;
    width:80px;
    display: inline-block;
    padding-top: 5px;
}

.info2{
    display: flex;
    flex-direction: row; 
    gap: 20px; 
    left: 0;     
    padding-left: 60px;
    margin-top: -400px; 
} 

#Services1{
    text-align: center;
    padding-top: 20px;
}
